{% extends 'base.template.html' %}
{% load humanize %}

{% if request.user.is_authenticated %}
<!-- Only login users can view these in the if and endif -->
<h1>Welcome, {{request.user}} </h1>
{% endif %}

{% block content%}
<h1>Your shopping cart</h1>

<ul>
    {% for key, value in cart.items%}
    <li>
        {{value.name}} (${{value.cost|floatformat:'2'|intcomma}}) x {{value.qty}}<br>
        Total cost: ${{value.total_cost|floatformat:'2'|intcomma}}
        <a href="{% url 'remove_from_cart' furniture_id=value.id %}" class="btn btn-primary btn-sm">Remove</a>
        <form method="POST" action="{% url 'update_cart_quantity' furniture_id=value.id %}">
            {% csrf_token %}
            <input type="text" name="qty" value="{{value.qty}}"/>
            <input type="submit" value="Update quantity" class="btn btn-primary btn-sm"/>
        </form>
    </li>
    {%endfor%}
</ul>
<h3>Cart Total: ${{total|floatformat:'2'|intcomma}}
    <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
</h3>

{%endblock%}