{% extends 'base.template.html'%}
{%load static%}

{% block title %}
About us
{% endblock %}

{%block content%}
<br>
<h2 class="text-center">About Us</h2>
<br>
<div class="container-fluid row">
    <div class="container-fluid col-6">
        <div class="aboutdetails">
            With the rise of the digital age, brick and mortar though is still a must to have however can no longer catch up with the digital age. E-commerce became the in thing and we have decided to use our expertise both in coding and experience in the furniture business industry to build this site to better facilitate buyers looking for premium furnitures among the masses. Our careful selections of imports of these products will guarantee customers' satisfaction.
            <br><br>
            As we are relatively new as well, the amount of product brought in is limited for now, but will slowly expand our range based on customers' feedback and cater to the wants and needs as we progressed and aim to be one of the top platforms for furniture purchases.
        </div>
    </div>
    <div class="container-fluid col-6">
        <img class="img-fluid aboutimg" src="{% static 'images/Aboutus.jpg' %}">
    </div>
</div>
<br>
{%endblock%}