{% extends 'base.template.html'%}
{% load cloudinary %}
{%load static%}

{% block title %}
Details
{% endblock %}

{%block content%}
<br>
<div class="container text-center">
    <h2>{{furniture.name}}</h2>
</div>
<br>
<div class="container-fluid row">
    <div class="col-lg-6 mx-auto"> 
        {% cloudinary furniture.picture class='furniture-image' %}
    </div>
   
    <div class="col-lg-6" id="furniture-details">
        <h4 class="text-center">Details and Specifications:</h4>
        <br>
        {{ furniture.desc }}
        <br><br>
        <div class="text-center">
            Length: {{furniture.length}}cm <br>
            Breath: {{furniture.breath}}cm <br>
            Height: {{furniture.height}}cm <br>
            <br>
            Weight: {{furniture.weight}}kg <br>
            <br>
            Color: {{furniture.color}} <br>
            <br>
            Material: {{furniture.materials}}<br>
        </div>
        <br>
        <div class="input-group container-fluid text-center">
            <form method="post" action="{% url 'add_to_cart' furniture.id %}">
            <p>Quantity: </p>
            {% csrf_token %}
            <input type="number" class="form-control text-center border" value="1" name="quantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="d-flex justify-content-center" id="">
                <button class="btn btn-link btn-sm js-btn-minus" type="button"><i class="fas fa-minus-circle"></i></button>
                <button class="btn btn-link btn-sm js-btn-plus" type="button"><i class="fas fa-plus-circle"></i></button>
            </div>
            <br>
            <button class="btn btn-primary btn-small" type="submit" id="">Add to Cart</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}

{% block js %}
<script>
  var sitePlusMinus = function() {
  		$('.js-btn-minus').on('click', function(e){
  			e.preventDefault();
  			if ( $(this).closest('.input-group').find('.form-control').val() != 0  ) {
  				$(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) - 1);
  			} else {
  				$(this).closest('.input-group').find('.form-control').val(parseInt(0));
  			}
  		});
  		$('.js-btn-plus').on('click', function(e){
  			e.preventDefault();
  			$(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) + 1);
  		});
  	};
  	sitePlusMinus();
  	
</script>
{%endblock%}