{% extends 'base.template.html'%}
{% load cloudinary %}
{%load static%}

{% block title %}
Details
{% endblock %}

{%block content%}
<br>
<div class="container text-center">
    <h3>{{furniture.name}}</h3>
    <hr>
</div>

<div class="container-fluid row">
    <div class="col-lg-6 mx-auto"> 
        {% cloudinary furniture.picture class='furniture-image' %}
    </div>
   
    <div class="col-lg-6">
        <h5 class="container text-center f-details">Details and Specifications:</h5>
        
        <div class="container f-details">
        {{ furniture.desc }}
        </div>

        <div class="container f-details text-center">
            {%for t in furniture.tags.all %}
            <span class="badge badge-pill badge-primary">{{t.title}}</span>
            {%endfor%}
        </div>

        <div class="container f-details text-center">
            <b>Length:</b> {{furniture.length}}cm <br>
            <b>Breath:</b> {{furniture.breath}}cm <br>
            <b>Height:</b> {{furniture.height}}cm <br>
        </div>
        
        <div class="container f-details text-center">
            <b>Weight:</b> {{furniture.weight}}kg 
        </div>

        <div class="container f-details text-center">
            <b>Color:</b> {{furniture.color}}
        </div>
        
        <div class="container f-details text-center">
            <b>Materials:</b> {{furniture.materials}}
        </div>
        
        <br><br>

        <div class="input-group container-fluid cartqty">
            <form method="post" action="{% url 'add_to_cart' furniture.id %}">
            <p>Quantity: </p>
            {% csrf_token %}
            <input type="number" class="form-control text-center border" value="1" name="quantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="d-flex justify-content-center" id="">
                <button class="btn btn-link btn-sm js-btn-minus" type="button"><i class="fas fa-minus-circle"></i></button>
                <button class="btn btn-link btn-sm js-btn-plus" type="button"><i class="fas fa-plus-circle"></i></button>
            </div>
            <button class="btn btn-primary btn-sm" type="submit" id="">Add to Cart</button>
            </form>
        </div>
    </div>
</div>

{% if request.user.username == "admin" %}
<div class="text-center">
    <a href="{% url 'edit_furnitures' furniture_id=furniture.id %}" class="btn btn-success btn">Edit</a>
    <a href="{% url 'delete_furnitures' furniture_id=furniture.id %}" class="btn btn-danger btn">Delete</a>
</div>
{% endif %}

<br>
{%endblock%}

{% block js %}
<script>
  var sitePlusMinus = function() {
  		$('.js-btn-minus').on('click', function(e){
  			e.preventDefault();
  			if ( $(this).closest('.input-group').find('.form-control').val() != 0  ) {
  				$(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) - 1);
  			} else {
  				$(this).closest('.input-group').find('.form-control').val(parseInt(0));
  			}
  		});
  		$('.js-btn-plus').on('click', function(e){
  			e.preventDefault();
  			$(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) + 1);
  		});
  	};
  	sitePlusMinus();
  	
</script>
{%endblock%}