{% extends 'base.template.html'%}
{% load cloudinary %}
{%load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{%block content%}

<div class="container-fluid row text-center">
    <a class="col-lg-4 col-sm-12 filterbtn" href="{% url 'show_all_furnitures' %}">All products</a>
    <a class="col-lg-2 col-sm-6 filterbtn" href="{% url 'filter' category_filter='Tables' %}">Tables</a>
    <a class="col-lg-2 col-sm-6 filterbtn" href="{% url 'filter' category_filter='Chairs' %}">Chairs</a>
    <a class="col-lg-2 col-sm-6 filterbtn" href="{% url 'filter' category_filter='Sofas' %}">Sofas</a>
    <a class="col-lg-2 col-sm-6 filterbtn" href="{% url 'filter' category_filter='Beds' %}">Beds</a>
</div>
<br>
<div class="container text-center searchtext">
    <form method="GET">
        {{search_form|crispy}}
    </form>
</div>
{% if request.user.username == "admin" %}
<div class="text-center">
    <a href="{% url 'create_furnitures' %}" class="btn btn-success btn">Add Furnitures</a>
</div>
{% endif %}

<br>
<hr>
<br>
<h3 class="text-center"><u>List of furnitures</u></h3>
<br>

<div class="container-fluid">
    <div class="row">
        {% for f in page_obj %}
        <div class="box col-sm-6 col-md-4">
            <div class="container text-center">
                <a href="{% url 'furniture_details' furniture_id=f.id %}" style="text-decoration: none;">
                    <div class="card-img-top" alt="furniture image">
                        {% cloudinary f.picture class='card-image' %}
                    </div>
                <br>
                <h5 class="card-title">{{f.name}}</h5>
                ${{f.cost|intcomma}}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>

<div class="container-fluid text-center">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.  
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<br>
{%endblock%}
