{% extends 'base.template.html'%}
{% load cloudinary %}
{% load static %}

{%block content%}


<h1>List all furnitures</h1>
    <div class="container-fluid">
        <div class="row">
            {%for f in furnitures%}
            <div class="box col-sm-6 col-md-4">
                <div class="container text-center">
                    <a href="{% url 'furniture_details' furniture_id=f.id %}">
                        <div class="card-img-top" alt="furniture image">
                            {% cloudinary f.picture class='card-image' %}
                        </div>
                    <br>
                    <h5 class="card-title">{{f.name}}</h5>
                    ${{f.cost}}
                </div>
            </div>
            {%endfor%}
        </div>
    </div>


{%endblock%}