/* navbar */
.navbar {
  background-color: white;
}

.navbar .navbar-nav .nav-link {
  color: black;
  justify-content: space-between;
  padding-right: 30px;
}

.navbar-brand img {
  height: 60px;
}

/* Home page */
.carousel-item img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  text-align: center;
  margin: 0 auto;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  color: black;
  text-align: center;
  top: 5%;
}

.boximg {
  padding: 15px;
}

.categoryimg {
  width: 350px;
  height: 350px;
  padding: 10px;
  opacity: 0.5;
}

.cat-caption {
  color: black;
  text-align: center;
}

body {
  background-color: aliceblue;
}

/* About us page */
.aboutdetails {
  padding: 20px;
  vertical-align: middle;
}

.aboutimg {
  padding: 20px;
  height: 100%;
  display: block;
  margin: 0 auto;
  width: 500px;
  object-fit: contain;
}

/* contact us page */
.c-details {
  padding: 20px;
}

/* listing page */
.textbox {
  width: 200px;
  justify-content: center;
}

.searchtext {
  width: 300px;
}

.box {
  padding: 20px;
}

.card-image {
  width: 300px;
  height: 200px;
  text-align: center;
}

.filterbtn {
  padding: 20px;
  font: xx-large;
  color: black;
  font-size: large;
  font-weight: bold;
}

.filterbtn a:hover {
  text-decoration: none;
}

.filterbtn:hover {
  background-color: black;
  color: white;
}

/* Furniture details */
.image-container {
  height: 400px;
}

.furniture-image {
  height: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 30px;
  object-fit: contain;
  background-position: 50% 50%;
}

.f-details {
  padding: 10px;
  padding-left: 60px;
}

.cartqty {
  justify-content: center;
  text-align: center;
}

/* Footer */
.page-footer {
  background-color: white;
}

.fa-facebook-square {
  color: blue;
}
.fa-instagram-square {
  color: #e1306c;
  padding-left: 20px;
}
.fa-whatsapp-square {
  color: rgb(68, 236, 68);
  padding-left: 20px;
}
.fa-twitter-square {
  color: rgb(106, 227, 248);
  padding-left: 20px;
}
.fa-youtube-square {
  color: red;
  padding-left: 20px;
}
.fa-snapchat-square {
  color: yellow;
  padding-left: 20px;
}

/* cart */
.qtybox {
  width: 50px;
}
