{% extends 'base.template.html'%}
{% load crispy_forms_tags %}
{%load static%}

{% block title %}
Contact us
{% endblock %}

{%block content %}
<br>
<h2 class="text-center">Contact Us</h2>
<br>
<div class="container-fluid row">
    <div class="container col-lg-6 c-details">
        <h5 class="text-center">For any queries, please provide your details below</h5>
        <br>
        <form method="POST" id="form">
            {%csrf_token%}
            {{form|crispy}}
        <input type="submit"/>
        </form>
    </div>
    <div class="container col-lg-6 c-details text-center">
        <h5>Our location</h5>
        <br>
        <p>1 Lower Kent Ridge Rd, #02-55</p>
        <p>1@kentridge (NUH Medical Centre)</p>
        <p>Singapore 119082</p>
        <br>
        <img src="{% static 'images/googleimages.png' %}" class="img-fluid">
    </div>
</div>
<br>
{%endblock%}